@import "./theme.scss";

.ai-outer {
  .ai-outer-container {
    height: 100vh;

    .ai-outer-text {
      position: absolute;
      z-index: 1;

      .ai-outer-my-name {
        margin: 0px 0px 30px 4px;
        // color: var(--themeColor4);
        font-size: clamp(14px, 5vw, 16px);
        font-weight: 600;
        line-height: 1;
      }

      .ai-outer-heading {
        font-size: clamp(40px, 8vw, 80px);
        font-weight: 700;
        color: $themeColor3;
        line-height: 1;
      }

      .ai-outer-heading2 {
        font-size: clamp(20px, 4vw, 40px);
        font-weight: 600;
        line-height: 1.5;
        color: $themeColor4;
      }

      .ai-outer-description {
        margin: 20px 0px 0px;
        max-width: 540px;
        color: $themeColor3;
      }

      .ai-outer-contact {
        margin-top: 50px;
      }
    }
  }

  .ai-outer-gooery {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex: 1;
  }
}

.myImage {
  margin-left: auto;

  z-index: 1;
  img{
     filter: drop-shadow(-12px -4px 2px #dddddd) contrast(1.1);
  }
}
@media (max-width: 992px) {
 .ai-outer-container
  {
    flex-wrap: wrap;
  }
     .ai-outer .ai-outer-container .ai-outer-text {
        position: relative;
        padding-top: 99px;
    }
     .ai-outer .ai-outer-container .ai-outer-text .ai-outer-description {
    margin: 50px 0px 0px;}
    .ai-outer .ai-outer-container .ai-outer-text .ai-outer-heading2{
      height: 30px;
    }
    .myImage{
      margin: auto;
      margin: auto;
        border-bottom: 3px solid white;
        width: 100%;
        padding: 0 25px;
    }
    .ai-outer .ai-outer-container {
    height: auto;
}
}
 

// loader css 

.signatue svg {
  max-height: 50vh;
  max-width: 50vw;
  stroke-dasharray: var(--svg-length);
  stroke-dashoffset: var(--svg-length);
  animation: signature 1.5s ease 1s forwards;
}

@keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}
